.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to right,
    #8e17ce,
    #281d3c
  ); /* Updated background color */
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.navigation-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation-bar ul li {
  display: inline;
  margin-right: 20px;
}
.navigation-bar a {
  color: #fff;
  text-decoration: none;
}
.hire-me-box {
  background-color: #470c83;
  border-radius: 5px;
  padding: 5px 10px;
}
.hire-me-button {
  color: #8e17ce;
  text-decoration: none;
}
.hire-me-button:hover {
  background-color: #6a0c9b;
  color: #fff;
}
.logo {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}
